@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* header */
header {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px 200px ;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    color: rgb(14, 14, 98);}

.navigation a {
    color: rgb(14, 14, 98);  
    text-decoration: none;
    padding-left: 20px;
    font-size: 1.1em;
    font-weight: 500;
}

.navigation a:hover {
    color: rgb(98, 67, 128);
}

/* main */

.main {
    background-color: rgb(0, 0, 35);
    padding: 300px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.main h2 {
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}
.main h2 span {
    font-size: 3em;
    font-weight: 700;
    color: rgb(61 87 235);
    display: inline-block;
    margin: 10px 0;
}
.main h3 {
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}

.main-btn {
    
    color: white;
    background-color: rgb(61 87 235);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: inline-block;
    margin: 50px 50px;
    transition: 0.7s ease;
        -webkit-transition: 0.7s ease;
        -moz-transition: 0.7s ease;
        -ms-transition: 0.7s ease;
        -o-transition: 0.7s ease;
}
.main-btn:hover{
    background-color: rgb(65, 0, 228);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.main .social-icons a {
    padding-right: 10px;
    color: white;
    font-size: 20px;
}
.main .social-icons a:hover {
    color: rgb(80, 80, 130);
}
.main .social-icons{
    margin-left: 40px;
}

.main img{
    width: 400px;
    height: 400px;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;

}


/* cards */

.content {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cards .title {
    color: rgb(0, 0, 35);
    font-size: 2em;
    font-weight: 700;
    margin: 30px;
    display: flex;
    justify-content: center;
    
}
.cards .content .service {
    color: rgb(18, 18, 125);
}

.cards .content .card {
    width: 25%;
    min-height: 20em;
    margin: 20px;
    box-shadow: 0 5px 10px black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 20px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
} 
.cards .content .card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.cards .title{
    color:rgb(0, 0, 35)
}
.cards .content .icon i {
    font-size: 9em;
    font-weight: 800;
    color: rgb(7, 7, 112);

}

.cards .content .icon2 i {
    font-size: 9em;
    font-weight: 800;
    color: rgb(207, 22, 22);

}

.cards .content .icon3 i {
    font-size: 9em;
    font-weight: 800;
    color: rgb(82, 150, 0);
}

.cards .content .card .service {
    font-weight: 600;
    font-size: 1.2em;
    margin: 20px;
}


/* projects */
.projects .title {
    display: flex;
    justify-content: center;
    color: rgb(249, 249, 249);
}
.projects{
    background-color: rgb(0, 0, 35);
    padding: 50px 200px ;
}
.projects-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

}
.project-card {
    width:20em;
    min-height: 30em;
    margin-right: 20px;
    margin-top: 50px;
    border-radius: 30px 30px;
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 30px 30px;
    -moz-border-radius: 30px 30px;
    -ms-border-radius: 30px 30px;
    -o-border-radius: 30px 30px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}
.project-card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

}
.project-card:hover .project-img{
    opacity: 0.9;

}
    .project-img img {
    width: 100%;
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
}

.project-title {
    padding: 20px;
    color: rgb(0, 0, 35)
}
.project-info a {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    color: rgb(36, 36, 167);
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}
.project-info a:hover {
    color: blue;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.project-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.project-info h3{
color: rgb(0, 0, 35);
font-size: 1em;
}


/* contant */
.contact .content .card {
    min-width: 26em;
    min-height: 10em;
}
.contact  .title{
    color: rgb(14, 14, 98);
}

.contact .content .icon i{
    color: rgb(14, 14, 98);
    font-size: 7em;
    }

.contact a {
    text-decoration: none;
    color: rgb(58, 58, 163);
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 50px;
    display: inline-block;

}

.contact a:hover{
    color: rgb(34, 34, 149);

}
/* testimonials */

.testimonials {
    background-color: #f8f8f8;
    padding: 50px;
}

.testimonials h2 {
    text-align: center;
    font-size: 36px;
    color: rgb(14, 14, 98);
    margin-bottom: 30px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.testimonial p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.testimonial cite {
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 16px;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 35);
    color: white;
    padding: 20px;
}

.footer p {
    font-size: 1.2em;
    font-weight: 500;

}
.footer p span {
    color: rgb(140, 66, 66);
    font-size: 1.6em;
}
.footer .social-icons a {
    color: white    ;
    padding-right: 10px;
    font-size: 1.5em;
}


/* media */
@media (max-width:1023px){
    /* header */
    header {
        padding: 12px 20px;
    }
    .navigation a {
        padding-left: 10em;
        font-size: 1em;

    }
    .title {
        font-size: 1.5em;
    }

    .logo{
        font-size: 1.2em;

    }

    /* main */
    .main {
        padding: 20px 20px;
    }
    .main h2 span {
        font-size: 1.5em;
        
    }
    .main h2,h3 {
        font-size: 1em;

    }
    .main-btn {
        margin: 25px 0px;
    }
    .main .social-icons {
        margin-left: 5px;

    }
    
    /* cards */
.cards .content .card { 
        width: 50%;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Projects */
    .projects {
        padding: 10px 50px;
    }
    .projects-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    /* contact */
        .contact .content .card {
            min-width: 26em;
            padding: 0 10px;
            margin: 10px 10px;
        }

        /* footer */
    .footer {
            padding: 10px;
    }
        .footer p {
            font-size: 1em;
            font-weight: 300;
    
        }
        .footer p span {
                font-size: 1.1em;
        }



}
